@media(max-width: 449px) {

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;    
  }

  .card {
    border: 1px solid rgb(186, 186, 186);
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 2px rgb(118, 118, 118);
  }

  .dungeon {
    padding-bottom: 10px;
  }

  .world {
    padding-top: 10px;
  }

  .dungeon,
  .world {
    width: 200px;
    border-radius: 50%;
    margin: 0 15px;
  }

  .dungeon:hover {
    transform: scale(1.05);
    border: 5px solid rgb(174, 255, 174);
    transition-duration: 1s;
  }
  
  .world:hover {
    transform: scale(1.05);
    border: 5px solid rgb(189, 255, 189);
    transition-duration: 1s;
  }

  .image {
    width: 300px;
    padding: 5px;
    margin-left: 5px;
    align-items: center;
    justify-content: center;
  }

  p{
    padding: 5px;
    margin-left: 5px;
  }

  .image:hover{
    transform: scale(2.5);
    transition-duration: 1s;
  }

  .guia {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
  }
}

@media(min-width: 450px) and (max-width: 767px) {

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .card {
    border: 1px solid rgb(186, 186, 186);
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 2px rgb(118, 118, 118);
  }

  .dungeon,
  .world {
    width: 195px;
    border-radius: 50%;
    margin: 0 15px;
  }

  .dungeon:hover {
    transform: scale(1.05);
    border: 5px solid rgb(174, 255, 174);
    transition-duration: 1s;
  }
  
  .world:hover {
    transform: scale(1.05);
    border: 5px solid rgb(189, 255, 189);
    transition-duration: 1s;
  }

  .image {
    width: 350px;
    padding: 5px;
    margin-left: 5px;
  }

  p{
    padding: 5px;
    margin-left: 5px;
  }

  .image:hover{
    transform: scale(2.5);
    transition-duration: 1s;
  }

  .guia {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }

  .card {
    border: 1px solid rgb(186, 186, 186);
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 2px rgb(118, 118, 118);
  }

  .dungeon,
  .world {
    width: 295px;
    border-radius: 50%;
    margin: 0 25px;
  }

  .dungeon:hover {
    transform: scale(1.05);
    border: 5px solid rgb(174, 255, 174);
    transition-duration: 1s;
  }
  
  .world:hover {
    transform: scale(1.05);
    border: 5px solid rgb(189, 255, 189);
    transition-duration: 1s;
  }

  .image {
    width: 350px;
    padding: 5px;
    margin-left: 5px;
  }

  p{
    padding: 5px;
    margin-left: 5px;
  }

  .image:hover{
    transform: scale(2.5);
    transition-duration: 1s;
  }

  .guia {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }

  .card {
    border: 1px solid rgb(186, 186, 186);
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 2px rgb(118, 118, 118);
  }

  .dungeon,
  .world {
    width: 395px;
    border-radius: 50%;
    margin: 0 35px;
  }

  .dungeon:hover {
    transform: scale(1.05);
    border: 5px solid rgb(174, 255, 174);
    transition-duration: 1s;
  }
  
  .world:hover {
    transform: scale(1.05);
    border: 5px solid rgb(189, 255, 189);
    transition-duration: 1s;
  }

  .image {
    width: 350px;
    padding: 5px;
    margin-left: 5px;
  }

  p{
    padding: 5px;
    margin-left: 5px;
  }

  .image:hover{
    transform: scale(2.5);
    transition-duration: 1s;
  }

  .guia {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }

  .card {
    border: 1px solid rgb(186, 186, 186);
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 2px rgb(118, 118, 118);
  }

  .dungeon,
  .world {
    width: 395px;
    border-radius: 50%;
    margin: 0 45px;
  }

  .dungeon:hover {
    transform: scale(1.05);
    border: 5px solid rgb(174, 255, 174);
    transition-duration: 1s;
  }
  
  .world:hover {
    transform: scale(1.05);
    border: 5px solid rgb(189, 255, 189);
    transition-duration: 1s;
  }

  .image {
    width: 350px;
    padding: 5px;
    margin-left: 5px;
  }

  p{
    padding: 5px;
    margin-left: 5px;
  }

  .image:hover{
    transform: scale(1.5);
    transition-duration: 1s;
  }

  .guia {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
  }
}