@media(max-width: 449px) {

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
    
  }
/* 
  .dungeon {
    padding-bottom: 10px;
  }

  .world {
    padding-top: 10px;
  } */

  .dungeon,
  .world, .quests {
    background-color: rgb(211, 211, 211);
    width: 150px;
    border-radius: 50%;
    border: 1px solid rgb(152, 152, 152);
    margin: 0 15px;
    margin-top: 10px;
  }

  .dungeon:hover {
    transform: scale(1.05);
    border: 5px solid rgb(174, 255, 174);
    transition-duration: 1s;
  }
  
  .world:hover {
    transform: scale(1.05);
    border: 5px solid rgb(189, 255, 189);
    transition-duration: 1s;
  }
}

@media(min-width: 450px) and (max-width: 767px) {

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .dungeon,
  .world, .quests {
    background-color: rgb(211, 211, 211);
    border: 1px solid rgb(152, 152, 152);
    width: 150px;
    border-radius: 50%;
    margin: 0 15px;
  }

  .dungeon:hover {
    transform: scale(1.05);
    border: 5px solid rgb(174, 255, 174);
    transition-duration: 1s;
  }
  
  .world:hover {
    transform: scale(1.05);
    border: 5px solid rgb(189, 255, 189);
    transition-duration: 1s;
  }

  .quests:hover {
    transform: scale(1.05);
    border: 5px solid rgb(189, 255, 189);
    transition-duration: 1s;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .dungeon,
  .world {
    margin-right: 10px;
  }

  .dungeon,
  .world, .quests {
    background-color: rgb(211, 211, 211);
    border: 1px solid rgb(152, 152, 152);
    width: 195px;
    border-radius: 50%;
    margin-top: -70px;
  }

  .dungeon:hover {
    transform: scale(1.05);
    border: 5px solid rgb(174, 255, 174);
    transition-duration: 1s;
  }
  
  .world:hover {
    transform: scale(1.05);
    border: 5px solid rgb(189, 255, 189);
    transition-duration: 1s;
  }

  .quests:hover {
    transform: scale(1.05);
    border: 5px solid rgb(189, 255, 189);
    transition-duration: 1s;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }

  .dungeon,
  .world, .quests {
    background-color: rgb(211, 211, 211);
    border: 1px solid rgb(152, 152, 152);
    width: 255px;
    border-radius: 50%;
    margin: 0 35px;
  }

  .dungeon:hover {
    transform: scale(1.05);
    border: 5px solid rgb(174, 255, 174);
    transition-duration: 1s;
  }
  
  .world:hover {
    transform: scale(1.05);
    border: 5px solid rgb(189, 255, 189);
    transition-duration: 1s;
  }

  .quests:hover {
    transform: scale(1.05);
    border: 5px solid rgb(189, 255, 189);
    transition-duration: 1s;
  }
}

@media (min-width: 1200px) {
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }

  .dungeon,
  .world, .quests {
    background-color: rgb(211, 211, 211);
    border: 1px solid rgb(152, 152, 152);
    width: 295px;
    border-radius: 50%;
    margin: 0 45px;
    margin-top: 20px;
  }

  .dungeon:hover {
    transform: scale(1.05);
    border: 5px solid rgb(174, 255, 174);
    transition-duration: 1s;
  }
  
  .world:hover {
    transform: scale(1.05);
    border: 5px solid rgb(189, 255, 189);
    transition-duration: 1s;
  }

  .quests:hover {
    transform: scale(1.05);
    border: 5px solid rgb(189, 255, 189);
    transition-duration: 1s;
  }
}