.footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    background-color: black;
    color: white;
    width: 100%;
    position: relative;
    bottom: 0;
    font-size: 1.1rem;
    padding: 10px;
}